.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid $colorBlack;
    padding: 10px;

    div {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    button {
        padding: 5px 20px;
    }
}
